@import "tailwindcss";
@import "tw-animate-css";

/* Styles globaux pour les polices sans utiliser @apply */
h1,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: var(--font-manrope);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p,
span,
button,
input,
textarea {
  font-family: var(--font-inter);
}

.placement {
  top: 25%;
  left: 15%;
}

.text-end {
  text-align: end;
}

